<div class="container-fluid">

  <h2 class="text-center">Add Product</h2>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

      <hr>
      <%= render partial: "form", locals: { product: @product, submit_btn: "Create" } %>
      
    </div>
    <div class="col-3">
    </div>
  </div>
    
</div>
